#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=pl --xlayouts='pl','us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.gorczyca.xyz

# Root password
rootpw --iscrypted $6$//kpr/Frk.lksDPr$vy987rPL2lZnOj9bl77UhH./RHUucRpCxBO.ccMxtm9nilU6M8ddm.c7oZCdApluSved5duot186RawHx3Plk.
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Warsaw --isUtc --ntpservers=tempus1.gum.gov.pl,tempus2.gum.gov.pl,0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
user --groups=wheel --name=vagrant --password=$6$ukC5eApDKQTTHv1R$WNEW61Iw6Rlw/6ozHMCIJmiu5xEZ/J8ss3R05G8wWLWYC26Rnqc/4unIDye4i/ZLiPGa478RqMXMTbPUBe2Cv0 --iscrypted
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
